.header {
    width: 100%;
    background-color: var(--palette-primary-main);
    &__container {
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        @include media-breakpoint-down(xl) {
            padding-top: 48px;
            padding-bottom: 48px;
        }
        @include media-breakpoint-down(lg) {
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }
    &__logo {
        display: inline-flex;
        gap: 25px;
        padding: 10px 20px;
        .title {
            font-size: 28px;
            letter-spacing: 2px;
            color: var(--palette-primary-text);
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }
    }
    &__logo-image {
        max-width: 49px;
        max-height: 26px;
        width: 100%;
        height: 100%;
        @include media-breakpoint-down(sm) {
            max-width: 26px;
            max-height: 16px;
        }
    }
}

.nav {
    display: flex;
    @include media-breakpoint-down(xl) {
        display: none;
    }
    justify-content: flex-end;
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list-item {
        display: flex;
    }
    &__list-link {
        color: var(--palette-primary-text);
        padding: 10px 25px;
        max-width: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: 2px;
        @include media-breakpoint-down(xxl) {
            padding: 10px 15px;
        }
        @include media-breakpoint-down(xl) {
            font-weight: 300;
            font-size: 20px;
        }
        &:hover {
            color: var(--palette-tertiary-text);
        }
    }
}
