li {
    list-style: none;
}

.burger-toggler {
    display: none;
}

.burger-toggler:checked {
    &~.header {
        .header__container {
            .burger-toggler-btn {
                width: 26px;
                height: 26px;
                &__buns {
                    top: 12px;
                    left: -3px;
                    transform: rotate(45deg);
                    &::before {
                        top: 0;
                    }
                    &::after {
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }
        }
    }
    &~.main {
        overflow-y: hidden;
        .hero {
            &__container {
                .burger {
                    transform: translateX(0%);
                }
                @include media-breakpoint-down(xl) {
                    .hero__title {
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }
}

.burger {
    display: none;
    flex-direction: column;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    background-color: var(--palette-primary-main);
    padding-left: 25px;
    padding-right: 25px;
    z-index: 2;
    transition: 0.5s;
    padding-bottom: 10px;
    gap: 10px;
    &__container {
        max-height: 660px;
        overflow: auto;
    }
    .nav {
        &__list {
            flex-direction: column;
            align-items: flex-start;
        }
        &__list-item {
            width: 100%;
            .nav-link {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                .nav-link__arrow {
                    width: 20px;
                    margin-left: 10px;
                }
                &:hover {
                    .nav-link__arrow {
                        path {
                            fill: var(--palette-secondary-light);
                        }
                    }
                }
            }
        }
    }
    .burger-gallery {
        position: relative;
        display: none;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--palette-primary-light);
        &__item {
            display: flex;
            width: 100%;
            height: 100%;
            @include media-breakpoint-down(sm) {
                max-width: 95px;
                max-height: 95px;
            }
        }
        &__item:nth-child(1) {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 2;
            grid-column-end: 3;
        }
        &__item-image {
            display: flex;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        @include media-breakpoint-down(md) {
            display: grid;
        }
        @include media-breakpoint-down(sm) {
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
        }
        @include media-breakpoint-down(s) {
            gap: 5px;
        }
    }
    @include media-breakpoint-down(xl) {
        display: flex;
        width: 40%;
    }
    @include media-breakpoint-down(lg) {
        top: 122px;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
        height: 100vh;
        &__container {
            .socials {
                display: flex;
            }
        }
    }
}

.burger-toggler-btn {
    position: relative;
    width: 32px;
    height: 23px;
    display: none;
    align-items: center;
    margin: 10px 20px;
    &__buns {
        position: absolute;
        width: 32px;
        height: 3px;
        top: 0;
        left: 0;
        background-color: var(--palette-primary-light);
        transition-duration: 0.3s;
        opacity: 1;
        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 32px;
            height: 3px;
            background-color: var(--palette-primary-light);
            transition-duration: 0.3s;
        }
        &::before {
            top: 10px;
        }
        &::after {
            top: 20px;
        }
    }
    @include media-breakpoint-down(xl) {
        display: flex;
    }
}

.socials {
    display: none;
    position: absolute;
    bottom: 130px;
}
