.profile-dropdown {
  position: relative;
  margin-left: 20px;
  &:not(:hover) & {
    &__nav {
      transform: scaleY(0);
    }
  }
  &:hover {
    &__nav {
      transform: scaleY(1);
    }
  }
  &__toggler-menu {
    display: flex;
    padding: 15px;
    transition-duration: 0.3s;
    border: 1px solid var(--palette-primary-light);
    border-radius: 5px;
    &:not(:hover) {
      background-color: transparent;
    }
    &:hover {
      background-color: var(--palette-secondary-light);
      box-shadow: var(--shadows-3);
    }
  }
  &__user-icon {
    path {
      fill: var(--palette-primary-light);
    }
  }
  &__nav {
    transform-origin: 0 0;
    position: absolute;
    z-index: 6;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    border-right: 1px solid var(--palette-primary-light);
    border-left: 1px solid var(--palette-primary-light);
    border-radius: 5px;
    background-color: var(--palette-primary-main);
  }
  &__nav-item {
    display: flex;
    align-items: center;
  }
  &__nav-link {
    font-size: 22px;
    font-weight: var(--typography-fontWeightLight);
    width: 100%;
    padding: 11px 20px;
    transition-duration: 0.3s;
    white-space: nowrap;
    color: var(--palette-primary-light);
    border-bottom: 1px solid var(--palette-primary-light);
    border-radius: 5px;
    &:not(:active) {
      background-color: transparent;
    }
    &:hover {
      background-color: var(--palette-secondary-light);
    }
    &:active {
      color: var(--palette-secondary-text);
      background-color: var(--palette-tertiary-main);
    }
  }
}
