.explore {
    width: 100%;
    height: 100%;
    background-color: var(--palette-primary-main);
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include media-breakpoint-down(xl) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__comparison {
        width: 60vw;
        height: 60vw;
        max-width: 700px;
        max-height: 700px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-down(md) {
            min-width: 430px;
            min-height: 430px;
        }
        @include media-breakpoint-down(sm) {
            min-width: 320px;
            min-height: 320px;
        }
        @include media-breakpoint-down(s) {
            min-height: 100%;
            min-width: 100%;
            width: 90vw;
            height: 90vw;
        }
    }
    &__comparison-img-before {
        background-image: url("/img/explore/slider-before.jpg");
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__comparison-img-after {
        background-image: url("/img/explore/slider-after.jpg");
        background-size: cover;
        position: absolute;
        width: 50%;
        box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        bottom: 0;
        height: 100%;
    }
    &__slider-before-img,
    &__slider-after-img {
        max-width: 720px;
        max-height: 700px;
        min-width: 680px;
        min-height: 660px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 15px;
        @include media-breakpoint-down(md) {
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.explore-left {
    max-width: 695px;
    @include media-breakpoint-down(xl) {
        max-width: 100%;
    }
    &__title {
        padding-bottom: 25px;
        border-bottom: 3px solid var(--palette-primary-dark);
        .title {
            color: var(--palette-primary-text);
            @include media-breakpoint-down(xxl) {
                white-space: normal;
            }
        }
    }
    &__desc {
        margin-top: 75px;
        display: grid;
        gap: 25px;
        @include media-breakpoint-down(xxl) {
            margin-top: 60px;
        }
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    &__desc-text {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: var(--palette-primary-text);
        .text-marker {
            color: var(--palette-tertiary-text);
        }
        @include media-breakpoint-down(xxl) {
            font-size: 18px;
        }
        @include media-breakpoint-down(xl) {
            font-size: 20px;
            &:last-child {
                display: none;
            }
        }
    }
}
