.explore {
    width: 100%;
    height: 100%;
    background-color: var(--palette-primary-main);
    &__container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 75px;
        padding-bottom: 75px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include media-breakpoint-down(xxl) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media-breakpoint-down(xl) {
            flex-direction: column;
        }
    }
    &__slider {
        height: 100%;
        display: flex;
        @include media-breakpoint-down(xl) {
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    }
    &__slider-before-img,
    &__slider-after-img {
        max-width: 720px;
        max-height: 700px;
        min-width: 680px;
        min-height: 660px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 15px;
        @include media-breakpoint-down(md) {
            min-width: 100%;
            min-height: 100%;
        }
    }
    &__slider-before-img {}
    &__slider-after-img {}
}

.explore-left {
    max-width: 695px;
    @include media-breakpoint-down(xl) {
        max-width: 100%;
    }
    &__title {
        padding-bottom: 25px;
        border-bottom: 3px solid var(--palette-primary-dark);
        .title {
            color: var(--palette-primary-text);
            @include media-breakpoint-down(xxl) {
                white-space: normal;
            }
        }
    }
    &__desc {
        margin-top: 75px;
        display: grid;
        gap: 25px;
        @include media-breakpoint-down(xxl) {
            margin-top: 60px;
        }
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    &__desc-text {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: var(--palette-primary-text);
        .text-marker {
            color: var(--palette-tertiary-text);
        }
        @include media-breakpoint-down(xxl) {
            font-size: 18px;
        }
        @include media-breakpoint-down(xl) {
            font-size: 20px;
            &:last-child {
                display: none;
            }
        }
    }
}
