.header {
    width: 100%;
    background-color: var(--palette-primary-main);
    &__container {
        max-width: 1480px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        @include media-breakpoint-down(xl) {
            padding-top: 48px;
            padding-bottom: 48px;
        }
        @include media-breakpoint-down(lg) {
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }
    &__logo {
        display: inline-flex;
        gap: 25px;
        padding: 10px 20px;
    }
    &__logo-image {
        max-width: 49px;
        max-height: 26px;
        width: 100%;
        height: 100%;
        @include media-breakpoint-down(md) {
            max-width: 26px;
            max-height: 16px;
        }
    }
    &__logo-title {
        display: flex;
        align-items: center;
        font-family: 'Forum', serif;
        font-size: 28px;
        letter-spacing: 2px;
        color: var(--palette-primary-text);
        text-transform: uppercase;
        @include media-breakpoint-down(md) {
            font-size: 16px;
        }
    }
}

.nav {
    display: flex;
    @include media-breakpoint-down(xl) {
        display: none;
    }
    justify-content: flex-end;
    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list-item {
        display: flex;
    }
}
