    #slide1:checked~.hero-slider__images>.hero-slider__images-item1,
    #slide2:checked~.hero-slider__images>.hero-slider__images-item2,
    #slide3:checked~.hero-slider__images>.hero-slider__images-item3,
    #slide4:checked~.hero-slider__images>.hero-slider__images-item4,
    #slide5:checked~.hero-slider__images>.hero-slider__images-item5 {
        opacity: 1;
        z-index: 1;
    }
    
    #slide1:checked~.slider-nav {
        .slider-nav__bars {
            .slider-nav__bars-item:first-child {
                label:after {
                    background-color: var(--palette-primary-dark);
                }
            }
        }
        .slider-nav__slides-counter {
            .slides-counter__current-slide::before {
                content: "01";
            }
        }
    }
    
    #slide2:checked~.slider-nav {
        .slider-nav__bars {
            .slider-nav__bars-item:nth-child(2) {
                label:after {
                    background-color: var(--palette-primary-dark);
                }
            }
        }
        .slider-nav__slides-counter {
            .slides-counter__current-slide::before {
                content: "02";
            }
        }
    }
    
    #slide3:checked~.slider-nav {
        .slider-nav__bars {
            .slider-nav__bars-item:nth-child(3) {
                label:after {
                    background-color: var(--palette-primary-dark);
                }
            }
        }
        .slider-nav__slides-counter {
            .slides-counter__current-slide::before {
                content: "03";
            }
        }
    }
    
    #slide4:checked~.slider-nav {
        .slider-nav__bars {
            .slider-nav__bars-item:nth-child(4) {
                label:after {
                    background-color: var(--palette-primary-dark);
                }
            }
        }
        .slider-nav__slides-counter {
            .slides-counter__current-slide::before {
                content: "04";
            }
        }
    }
    
    #slide5:checked~.slider-nav {
        .slider-nav__bars {
            .slider-nav__bars-item:last-child {
                label:after {
                    background-color: var(--palette-primary-dark);
                }
            }
        }
        .slider-nav__slides-counter {
            .slides-counter__current-slide::before {
                content: "05";
            }
        }
    }
    
    .hero {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--palette-primary-main);
        &__container {
            max-width: 1440px;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 60px;
            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
        }
        &__title {
            position: absolute;
            top: 15%;
            left: 20px;
            transform: translateX(0%);
            transition: 0.5s;
            z-index: 3;
            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                position: relative;
                top: 0;
                left: 0;
            }
            .title {
                color: var(--palette-primary-text);
            }
            .btn {
                max-width: 360px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 55px;
                font-family: 'Roboto', sans-serif, sans-serif;
                font-weight: 300;
                font-size: 22px;
                letter-spacing: 2px;
                padding: 25px 64px;
                border: none;
                border-radius: 10px;
                background-color: var(--palette-primary-dark);
                color: var(--palette-primary-text);
                @include media-breakpoint-down(xl) {
                    padding: 20px 50px;
                }
                @include media-breakpoint-down(lg) {
                    max-width: 320px;
                    padding: 15px 40px;
                }
                @include media-breakpoint-down(md) {
                    display: none;
                }
                &:hover {
                    background-color: var(--palette-secondary-light);
                }
            }
        }
        &__title-desc {
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 28px;
            letter-spacing: 2px;
            color: var(--palette-primary-text);
            @include media-breakpoint-down(xl) {
                font-size: 23px;
            }
            @include media-breakpoint-down(md) {
                font-size: 20px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }
    }
    
    .hero-slider {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        @include media-breakpoint-down(xxl) {
            width: 69%;
        }
        @include media-breakpoint-down(xl) {
            width: 100%;
        }
        &__images {
            position: relative;
            width: 1000px;
            height: 750px;
            @include media-breakpoint-down(xl) {
                width: 60%;
                height: 650px;
            }
            @include media-breakpoint-down(lg) {
                height: 550px;
            }
            @include media-breakpoint-down(md) {
                width: 100%;
                &::before {
                    display: none;
                }
            }
            @include media-breakpoint-down(sm) {
                height: 300px;
            }
            &::before {
                content: "";
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, var(--palette-primary-main) 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
            }
        }
        &__images-item1,
        &__images-item2,
        &__images-item3,
        &__images-item4,
        &__images-item5 {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            opacity: 0;
            transition: opacity ease-in-out 1s;
        }
    }
    
    .slider-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        gap: 10px;
        bottom: 0;
        right: 0;
        background-color: var(--palette-primary-main);
        padding: 40px 75px;
        z-index: 2;
        @include media-breakpoint-down(xl) {
            position: relative;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            gap: 20px;
            padding: 20px 20px;
        }
        @include media-breakpoint-down(sm) {
            padding: 10px 75px;
            gap: 5px;
        }
        &__slides-counter {
            display: flex;
            gap: 10px;
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            color: var(--palette-primary-text);
            line-height: 17px;
            @include media-breakpoint-down(sm) {
                gap: 5px;
            }
        }
        &__bars {
            display: inline-flex;
        }
        &__bars-item {
            display: flex;
            &:hover {
                .slider-nav__bars-toggler::after {
                    background-color: var(--palette-secondary-light);
                }
            }
        }
        &__bars-toggler {
            display: flex;
            padding: 10px 20px;
            @include media-breakpoint-down(md) {
                padding: 10px 5px;
            }
            &::after {
                content: "";
                width: 16px;
                height: 16px;
                background-color: var(--palette-primary-light);
            }
        }
        &__arrows {
            display: flex;
            .slider-nav__arrows-btn {
                display: flex;
                background-color: transparent;
                border: none;
                padding: 10px 20px;
                @include media-breakpoint-down(xl) {
                    padding: 10px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 5px;
                }
                &:hover {
                    svg {
                        path {
                            fill: var(--palette-secondary-light);
                        }
                    }
                }
            }
        }
    }
    
    .slides-counter {
        &__current-slide {
            &::before {
                content: "01";
            }
        }
        &__slash {}
        &__all-slides {}
    }
