.journey {
    width: 100%;
    height: 100%;
    &__container {
        display: grid;
        gap: 75px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 75px;
        padding-bottom: 75px;
        @include media-breakpoint-down(xxl) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media-breakpoint-down(xl) {
            padding-top: 60px;
            padding-bottom: 60px;
            gap: 40px;
        }
        @include media-breakpoint-down(lg) {
            padding-top: 40px;
            padding-bottom: 40px;
            gap: 20px;
        }
        @include media-breakpoint-down(sm) {
            padding-top: 36px;
            padding-bottom: 36px;
        }
    }
}

.journey-heading {
    display: flex;
    gap: 60px;
    .title {
        color: var(--palette-tertiary-text);
    }
    &__desc-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: var(--palette-secondary-text);
        @include media-breakpoint-down(xxl) {
            display: none;
        }
    }
}

.journey-player {
    display: flex;
    flex-direction: column;
    &__video {
        max-width: 1440px;
        max-height: 650px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
    }
    &__navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--palette-primary-main);
        padding: 27px 30px;
        gap: 10px;
        @include media-breakpoint-down(lg) {
            padding: 10px 20px;
            gap: 5px;
        }
        @include media-breakpoint-down(sm) {
            padding: 5px;
        }
    }
}

.navbar {
    &__fullscreen-btn,
    &__volume-btn,
    &__play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        padding: 10px;
        @include media-breakpoint-down(xl) {
            padding: 5px;
        }
        &:hover {
            filter: brightness(0.5);
        }
    }
    &__play-btn {}
    &__play-bar,
    &__volume-bar {
        width: 100%;
        height: 15px;
        @include media-breakpoint-down(md) {
            height: 5px;
        }
        @include media-breakpoint-down(sm) {
            height: 3px;
        }
    }
    &__play-bar {
        min-width: 100px;
    }
    &__volume-btn {}
    &__volume-bar {
        max-width: 200px;
        min-width: 80px;
    }
    &__fullscreen-btn {}
}

.play-icon,
.volume-icon,
.fullscreen-icon {
    width: 100%;
    height: 100%;
    min-width: 10px;
}

.volume-icon {}

.fullscreen-icon {}

.journey-slider {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.slider-next-btn,
.slider-prev-btn {
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    transition-duration: 0.3s;
    &:hover {
        transform: scale(1.2);
    }
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.slider {
    &__list {
        width: 100%;
        overflow: auto;
        display: flex;
        align-items: center;
        gap: 60px;
        @include media-breakpoint-down(xxl) {
            gap: 10px;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }
    &__list-item {
        display: flex;
        max-width: 380px;
        max-height: 220px;
        width: 100%;
        height: 10%;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }
}

.slider-video {
    display: flex;
    min-height: 220px;
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}
