.journey {
    width: 100%;
    height: 100%;
    &__container {
        display: grid;
        gap: 75px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 75px;
        padding-bottom: 75px;
        @include media-breakpoint-down(xxl) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.journey-heading {
    display: flex;
    gap: 60px;
    .title {
        color: var(--palette-tertiary-text);
    }
    &__desc-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: var(--palette-secondary-text);
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
}

.journey-player {
    &__video {
        max-width: 1440px;
        max-height: 650px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
    }
    &__navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: var(--palette-primary-main);
        padding: 27px 30px;
    }
}

.navbar {
    &__fullscreen-btn,
    &__volume-btn,
    &__play-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            filter: brightness(0.5);
        }
    }
    &__play-btn {}
    &__play-bar {
        width: 60%;
    }
    &__volume-btn {}
    &__volume-bar {
        width: 15%;
    }
    &__fullscreen-btn {}
}

.play-icon {}

.volume-icon {}

.fullscreen-icon {}

.journey-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.slider-next,
.slider-prev {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.2);
    }
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.slider {
    &__list {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        @include media-breakpoint-down(xxl) {
            gap: 10px;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }
    &__list-item {
        display: flex;
        max-width: 380px;
        max-height: 220px;
        width: 100%;
        height: 10%;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }
}

.slider-video {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 220px;
}
