.journey {
  width: 100%;
  height: 100%;
  &__container {
  }
}

.journey-heading {
  display: flex;
  gap: 60px;
  .title {
    color: var(--palette-tertiary-text);
  }
  &__desc-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: var(--palette-secondary-text);
    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }
}

.journey-player {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  @include media-breakpoint-down(xl) {
    margin-top: 60px;
  }
  @include media-breakpoint-down(lg) {
    margin-top: 40px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 36px;
  }
  &__video {
    position: relative;
    max-width: 1440px;
    max-height: 650px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
  }
  &__main-play-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover {
      filter: brightness(0.7);
    }
  }
  &__main-play-icon {
    @include media-breakpoint-down(xxl) {
      width: 152px;
      height: 152px;
    }
    @include media-breakpoint-down(lg) {
      width: 80px;
      height: 80px;
    }
    @include media-breakpoint-down(sm) {
      width: 50px;
      height: 50px;
    }
  }
  &__navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--palette-primary-main);
    padding: 27px 30px;
    gap: 10px;
    z-index: 2;
    @include media-breakpoint-down(lg) {
      padding: 10px 20px;
      gap: 5px;
    }
    @include media-breakpoint-down(sm) {
      padding: 5px;
    }
  }
}

.navbar {
  &__fullscreen-btn,
  &__volume-btn,
  &__play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    @include media-breakpoint-down(xl) {
      padding: 5px;
    }
    &:hover {
      filter: brightness(0.5);
    }
  }
  &__play-btn {
  }
  &__play-bar,
  &__volume-bar {
    width: 100%;
    height: 15px;
    cursor: pointer;
    @include media-breakpoint-down(md) {
      height: 5px;
    }
    @include media-breakpoint-down(sm) {
      height: 3px;
    }
  }
  &__play-bar {
    min-width: 100px;
  }
  &__volume-btn {
  }
  &__volume-bar {
    max-width: 200px;
    min-width: 80px;
  }
  &__fullscreen-btn {
  }
}

.play-icon,
.volume-icon,
.fullscreen-icon {
  width: 100%;
  height: 100%;
  min-width: 10px;
}

.volume-icon {
}

.fullscreen-icon {
}

.journey-slider {
  padding-top: 40px;
  padding-bottom: 40px;
}

.slider {
  &__list {
    margin-left: 6%;
  }
  &__list-item {
  }
}

.slider-video {
}

.slider-prev-btn {
}

.slider-next-btn {
}

.slider-pagination {
}
