.login {
  &__title {
    color: var(--palette-tertiary-text);
  }
  &__body {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
  }
  &__body-bottom {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn-signin {
    background-color: var(--palette-primary-main);
  }
}
