.profile {
    min-height: 100vh;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @include media-breakpoint-up(md) {
            gap: 10px;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 40px;
        }
    }
    &__left {
        display: grid;
        gap: 20px;
    }
    &__avatar {
        display: flex;
        flex-direction: column;
    }
    &__avatar-img {
        max-width: 230px;
        max-height: 230px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--palette-primary-main);
    }
    &__avatar-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 11px 20px;
        margin-top: 20px;
        color: var(--palette-primary-text);
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
        font-size: 20px;
        border-radius: 5px;
        transition-duration: 0.3s;
        cursor: pointer;
        &:hover {
            box-shadow: var(--shadows-2);
        }
        &:not(:active) {
            background-color: var(--palette-primary-main);
        }
        &:active {
            background-color: var(--palette-secondary-light);
        }
    }
    &__comment {
        display: flex;
        flex-direction: column;
    }
    &__comment-title {
        color: var(--palette-primary-main);
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
        font-size: 20px;
    }
    &__comment-field {
        max-width: 245px;
        height: 150px;
        resize: none;
        padding: 10px;
        margin-top: 15px;
    }
    &__comment-btn {
        padding: 11px 20px;
        color: var(--palette-primary-text);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        transition-duration: 0.3s;
        border: none;
        &:hover {
            box-shadow: var(--shadows-2);
        }
        &:not(:active) {
            background-color: var(--palette-primary-main);
        }
        &:active {
            background-color: var(--palette-secondary-light);
        }
    }
    &__center {
        display: flex;
        flex-direction: column;
    }
    &__center-container {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-up(lg) {
            width: 300px;
            margin-top: 40px;
        }
        @include media-breakpoint-down(lg) {
            width: 100%;
            margin-top: 20px;
        }
        @include media-breakpoint-down(md) {
            gap: 20px;
        }
    }
    &__center-title {
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
        font-size: 40px;
        color: var(--palette-secondary-text);
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 11px 20px;
        color: var(--palette-primary-text);
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
        font-size: 20px;
        max-width: 400px;
        transition-duration: 0.3s;
        border-radius: 5px;
        @include media-breakpoint-up(md) {
            margin-top: 40px;
        }
        @include media-breakpoint-down(md) {
            margin-top: 20px;
        }
        &:hover {
            box-shadow: var(--shadows-2);
        }
        &:not(:active) {
            background-color: var(--palette-primary-dark);
        }
        &:active {
            background-color: var(--palette-secondary-light);
        }
    }
}

.center {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        padding: 20px;
        border-radius: 15px;
        transition-duration: 0.3s;
        &:hover {
            box-shadow: var(--shadows-1);
        }
    }
    &__item-text {
        color: var(--palette-secondary-text);
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
        font-size: 20px;
        text-align: center;
    }
    &__item-value {
        color: var(--palette-tertiary-text);
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
        font-size: 30px;
        text-align: center;
    }
}

#upload-img {
    display: none;
}
