:root {
    --palette-primary-main: #030303;
    --palette-primary-dark: #710707;
    --palette-primary-light: #FFFFFF;
    --palette-secondary-light: #9d8665;
    --palette-primary-text: #FFFFFF;
    --palette-secondary-text: #030303;
    --palette-tertiary-text: #9d8665;
    --palette-tertiary-main: #E7E7E7;
    --palette-tertiary-light: #BCBCBC;
    --palette-tertiary-dark: #939393;
}