:root {
  --white-color: #ffffff;
  --purple-color: #883cda;
  --black-color: #141516;
  --pink-color: #fb7c84;
  --lt-orange-color: #ffb865;
  --lt-green-color: #d4ee47;
  --aquamarine-color: #6ed6a4;
  --lt-blue-color: #5ac4ff;
  --lt-gray-color: #f8f8f8;
  --shadow-gray-color: #f1f1f1;
  --gray-color: #a5a5a9;
  --box-shadow-color: #e2e0e0;
}
