.overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--palette-primary-main);
  position: relative;
  @include media-breakpoint-up(lg) {
    max-width: 530px;
    padding: 25px 30px;
  }
  @include media-breakpoint-down(lg) {
    max-width: 100%;
    padding: 20px 15px;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 25px;
    right: 30px;
    @include media-breakpoint-up(sm) {
      max-width: 150px;
      max-height: 120px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 120px;
      max-height: 96px;
    }
    @include media-breakpoint-down(s) {
      max-width: 90px;
      max-height: 70px;
    }
  }

  &__title {
    font-weight: var(--typography-fontWeightMedium);
    color: var(--palette-secondary-text);
    @include media-breakpoint-up(sm) {
      font-size: 32px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }

  &__subtitle {
    display: flex;
    font-weight: var(--typography-fontWeightMedium);
    color: var(--palette-primary-dark);
    margin-bottom: 10px;
    @include media-breakpoint-up(sm) {
      font-size: 22px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &__row-text {
    font-weight: var(--typography-fontWeightLight);
    color: var(--palette-secondary-text);
    @include media-breakpoint-up(sm) {
      margin-left: 15px;
      font-size: 18px;
    }
    @include media-breakpoint-down(sm) {
      margin-left: 5px;
      font-size: 15px;
    }
  }

  &__btn-submit {
    display: flex;
    max-width: 220px;
    padding: 11px 87px;
    margin-top: 80px;
    font-weight: var(--typography-fontWeightLight);
    font-size: 22px;
    text-align: center;
    transition-duration: 0.2s;
    border: none;
    @include media-breakpoint-up(s) {
      align-self: flex-end;
    }
    @include media-breakpoint-down(s) {
      align-self: center;
    }
    &:not(:active) {
      background-color: var(--palette-primary-dark);
      color: var(--palette-primary-text);
    }
    &:hover {
      background-color: var(--palette-secondary-light);
      color: var(--palette-primary-text);
      box-shadow: var(--shadows-2);
    }
    &:active {
      background-color: var(--palette-tertiary-main);
      color: var(--palette-secondary-text);
    }
  }
  &-age {
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-weight: var(--typography-fontWeightLight);
    @include media-breakpoint-up(sm) {
      font-size: 22px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
    &__container {
      display: flex;
      flex: 1 0 auto;
      align-items: center;
    }

    &__count {
      width: 32px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--palette-primary-main);
      border-radius: 5px;
      color: var(--palette-primary-text);
      font-size: 18px;
    }

    &__count-text {
      margin-left: 10px;
    }
  }
  &-total {
    display: flex;
    margin-top: 15px;
    font-weight: var(--typography-fontWeightLight);
    font-size: 32px;
    &__text {
      display: flex;
      flex: 1 0 auto;
    }

    &__price {
      font-weight: 500;
    }
  }
  &-cards {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    @include media-breakpoint-up(md) {
      width: 470px;
      height: 210px;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 440px;
    }
    &__item {
      max-width: 360px;
      max-height: 210px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px 20px;
      gap: 10px;
      border-radius: 5px;
      @include media-breakpoint-up(md) {
        position: absolute;
      }
      @include media-breakpoint-down(md) {
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }
      &:first-child {
        background-color: var(--palette-tertiary-light);
        z-index: 1;
        top: 0;
        left: 0;
      }
      &:last-child {
        background-color: var(--palette-tertiary-dark);
        align-items: flex-end;
        justify-content: flex-end;
        top: 30px;
        right: 0;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 45px;
          background-color: var(--palette-primary-main);
          top: 25px;
          left: 0;
        }
      }
    }

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }

    &__top-left {
      max-width: 215px;
      width: 100%;
      display: grid;
      gap: 10px;
    }

    &__text-field {
      flex-direction: column;
      font-weight: var(--typography-fontWeightLight);
      font-size: 12px;
      color: var(--palette-primary-main);
    }

    &__inner-field {
      max-width: 320px;
      width: 100%;
      height: 35px;
      margin-top: 5px;
      background-color: var(--palette-primary-light);
      padding: 10px;
      box-sizing: border-box;
    }

    &__container {
      display: flex;
      gap: 15px;
    }

    &__top-right {
      display: flex;
      flex-direction: column;
      margin-top: 18px;
      gap: 15px;
    }

    &__item-back {
      max-width: 75px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
