.tickets {
    width: 100%;
    height: 100%;
    position: relative;
    &__container {}
    &__title {
        display: flex;
        border-bottom: 3px solid var(--palette-primary-dark);
        padding-bottom: 25px;
        @include media-breakpoint-down(xl) {
            padding-bottom: 20px;
        }
    }
    &__body {
        display: flex;
        gap: 40px;
        margin-top: 75px;
        align-items: flex-start;
        justify-content: center;
        @include media-breakpoint-down(xxl) {
            gap: 10px;
        }
        @include media-breakpoint-down(xl) {
            gap: 80px;
            margin-top: 60px;
        }
        @include media-breakpoint-down(lg) {
            margin-top: 40px;
            gap: 60px;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }
    &__body-img {
        max-width: 720px;
        max-height: 550px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include media-breakpoint-down(xl) {
            max-width: 700px;
            max-height: 440px;
        }
        @include media-breakpoint-down(lg) {
            max-width: 444px;
            max-height: 340px;
        }
        @include media-breakpoint-down(sm) {
            max-width: 100%;
            max-height: 160px;
        }
    }
}

.title {
    color: var(--palette-tertiary-text);
}

.tickets-type,
.tickets-amount {
    display: flex;
    flex-direction: column;
}

[type="radio"] {
    transition-duration: 0.3s;
    border-color: var(--palette-primary-dark);
    &:checked {
        filter: brightness(0);
    }
}

.tickets-type {
    flex: 1 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @include media-breakpoint-down(xxl) {
        padding-left: 5px;
        padding-right: 5px;
    }
    @include media-breakpoint-down(xl) {
        display: none;
    }
    &__title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: var(--palette-secondary-text);
        margin-bottom: 25px;
    }
    &__bar {
        width: 17px;
        height: 17px;
    }
    &__bar-title {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 22px;
        white-space: nowrap;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
    }
}

.tickets-amount {
    width: 175px;
    &__title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: var(--palette-secondary-text);
        margin-bottom: 35px;
        @include media-breakpoint-down(xl) {
            text-align: center;
        }
        @include media-breakpoint-down(sm) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    &__col {}
    &__price {
        text-align: center;
    }
    &__price-title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: var(--palette-secondary-text);
        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }
    &__price-value {}
    &__btn {
        padding: 11px 28px;
        margin-top: 40px;
        background-color: var(--palette-primary-main);
        color: var(--palette-primary-text);
        border: none;
        border-radius: 2px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 22px;
        text-align: center;
        transition-duration: 0.2s;
        @include media-breakpoint-down(md) {
            margin-top: 15px;
        }
        &:hover {
            box-shadow: 0 0 24px 0 var(--palette-secondary-light);
        }
        &:active {
            background-color: var(--palette-secondary-light);
        }
    }
}

.amount-field-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 15px;
    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
}

.amount-field-row {
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 3px solid var(--palette-primary-main);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
    &__increase,
    &__decrease {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        cursor: pointer;
        transition-duration: 0.1s;
        &::before {
            content: '';
            width: 100%;
            background-color: var(--palette-primary-main);
            border-radius: 5px;
        }
        &:active {
            transform: scale(0.8);
        }
    }
    &__decrease {
        &::before {
            height: 3px;
        }
    }
    &__increase {
        position: relative;
        &::before {
            height: 3px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: 8px;
            background-color: var(--palette-primary-main);
            border-radius: 5px;
        }
    }
    &__value {
        max-width: 26px;
        max-height: 26px;
        width: 100%;
        height: 100%;
        text-align: center;
        all: unset;
    }
}