li {
    list-style: none;
}

.burger-toggler {
    display: none;
}

.burger-toggler:checked {
    &~.header {
        .header__container {
            .burger-toggler-btn {
                &__buns {
                    &::before {
                        transform: rotate(45deg);
                    }
                    &::after {
                        transform: rotate(-45deg);
                        top: 0;
                    }
                }
            }
        }
    }
    &~.main {
        .hero {
            &__container {
                .burger {
                    transform: translateX(0%);
                }
                .hero__title {
                    transform: translateX(-100%);
                }
            }
        }
    }
}

.burger {
    display: none;
    .socials {
        display: none;
    }
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 20px;
    background-color: var(--palette-primary-main);
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1;
    transition: 0.5s;
    .nav {
        &__list {
            flex-direction: column;
            align-items: flex-start;
        }
        &__list-item {
            .nav-link {
                display: inline-flex;
                width: 180px;
                justify-content: space-between;
                align-items: center;
                &:hover {
                    .nav-link__arrow {
                        path {
                            fill: var(--palette-secondary-light);
                        }
                    }
                }
            }
        }
    }
    .burger-gallery {
        display: none;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        &__item {
            display: flex;
        }
        &__item-image {
            display: flex;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        @include media-breakpoint-down(lg) {
            display: flex;
            padding: 10px 25px;
        }
        @include media-breakpoint-down(sm) {
            display: inline-flex;
        }
    }
    @include media-breakpoint-down(xl) {
        display: flex;
        width: 40%;
    }
    @include media-breakpoint-down(lg) {
        width: 100%;
        height: 100%;
        .socials {
            display: flex;
        }
    }
}

.burger-toggler-btn {
    position: relative;
    width: 32px;
    height: 32px;
    display: none;
    align-items: center;
    margin: 10px 20px;
    &__buns {
        position: absolute;
        width: 32px;
        height: 14px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 32px;
            height: 3px;
            background-color: var(--palette-primary-light);
            transition: 0.5s;
        }
        &::before {
            top: 0;
        }
        &::after {
            top: 10px;
        }
    }
    @include media-breakpoint-down(xl) {
        display: flex;
    }
}
