.nav-link {
    color: var(--palette-primary-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    padding: 10px 25px;
    letter-spacing: 2px;
    @include media-breakpoint-down(xl) {
        font-weight: 300;
        font-size: 20px;
    }
    &:hover {
        color: var(--palette-tertiary-text);
    }
}