.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    &__item {
        max-width: 48px;
        max-height: 48px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--palette-primary-light);
        border-radius: 50%;
        padding: 12px;
    }
    &__item-icon {
        width: 100%;
        height: 100%;
    }
}
