.socials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  &__item {
    max-width: 48px;
    max-height: 48px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-link {
    display: flex;
    border: 1px solid var(--palette-primary-light);
    border-radius: 50%;
    padding: 12px;
    width: 48px;
    height: 48px;
    transition-duration: 0.3s;
    &:hover {
      box-shadow: 0 0 24px 0 var(--palette-secondary-light);
    }
  }
  &__item-icon {
    width: 100%;
    height: 100%;
  }
}
