.explore {
    width: 100%;
    height: 100%;
    background-color: var(--palette-primary-main);
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include media-breakpoint-down(xl) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__comparison {
        width: 95vmin;
        position: relative;
        overflow: hidden;
        @include media-breakpoint-up(lg) {
            height: 700px;
        }
        @include media-breakpoint-between(sm, lg) {
            height: 500px;
        }
        @include media-breakpoint-down(sm) {
            height: 400px;
        }
    }
    &__comparison-after {
        width: 100%;
        height: 100%;
        position: absolute;
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
        z-index: 1;
        object-fit: cover;
    }
    &__comparison-before {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    &__comparison-divisor {
        position: relative;
        -webkit-appearance: none;
        width: calc(100% + 40px);
        height: 100%;
        margin-left: -20px;
        background-color: transparent;
        outline: none;
        z-index: 2;
        &::-webkit-slider-thumb {
            position: relative;
            -webkit-appearance: none;
            height: 40px;
            width: 40px;
            border: 3px solid #ffffff;
            border-radius: 50%;
            background-size: contain;
            cursor: pointer;
        }
    }
    &__comparison-undertext {
        position: absolute;
        color: var(--palette-primary-text);
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
        font-size: 16px;
        text-align: center;
    }
}

.explore-left {
    @include media-breakpoint-up(xl) {
        max-width: 695px;
    }
    @include media-breakpoint-down(xl) {
        max-width: 100%;
    }
    &__title-text {
        color: var(--palette-primary-text);
    }
    &__desc {
        gap: 25px;
        @include media-breakpoint-up(xxl) {
            margin-top: 75px;
        }
        @include media-breakpoint-down(xxl) {
            margin-top: 60px;
        }
        @include media-breakpoint-up(lg) {
            display: grid;
        }
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    &__desc-text {
        font-family: var(--typography-fontFamily);
        font-weight: var(--typography-fontWeightLight);
        line-height: 38px;
        color: var(--palette-primary-text);
        @include media-breakpoint-up(xxl) {
            font-size: 22px;
        }
        @include media-breakpoint-between(xl, xxl) {
            font-size: 18px;
        }
        @include media-breakpoint-down(xl) {
            font-size: 20px;
            &:last-child {
                display: none;
            }
        }
    }
}

.text-marker {
    color: var(--palette-tertiary-text);
}
