.parallax {
  &__container {
    background-image: url("/img/parallax/parallax-image.webp");
    width: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: var(--palette-primary-light);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media-breakpoint-up(lg) {
      height: 400px;
    }
    @include media-breakpoint-down(lg) {
      height: 300px;
    }
  }
  &__bg-image {
    display: none;
  }
}
