.visiting {
    width: 100%;
    height: 100%;
    &__container {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(xxl) {
            max-width: 1100px;
        }
    }
    &__title-text {
        color: var(--palette-tertiary-text);
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include media-breakpoint-up(xxl) {
            gap: 120px;
        }
        @include media-breakpoint-between(lg, xxl) {
            gap: 40px;
        }
        @include media-breakpoint-between(xl, xxl) {
            padding-right: 60px;
            padding-left: 60px;
        }
        @include media-breakpoint-between(lg, xl) {
            padding-right: 40px;
            padding-left: 40px;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 75px;
        }
        @include media-breakpoint-down(lg) {
            gap: 30px;
            margin-top: 40px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    &__cards-item {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__card-link {
        display: flex;
        padding: 5px;
        transition-duration: 0.3s;
        &:not(:hover) {
            transform: scale(1);
            ~.visiting__card-title {
                &::after {
                    width: 70%;
                }
            }
        }
        &:hover {
            transform: scale(1.03);
            ~.visiting__card-title {
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &__card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include media-breakpoint-up(xl) {
            max-width: 440px;
            max-height: 285px;
        }
        @include media-breakpoint-between(md, xl) {
            max-width: 330px;
            max-height: 215px;
        }
        @include media-breakpoint-down(md) {
            max-width: 280px;
            max-height: 180px;
        }
    }
    &__card-title {
        position: relative;
        font-family: var(--typography-fontFamily-headings);
        font-weight: var(--typography-fontWeightLight);
        letter-spacing: 3px;
        text-transform: uppercase;
        color: var(--palette-secondary-text);
        margin-top: 25px;
        padding-bottom: 10px;
        @include media-breakpoint-up(xl) {
            font-size: 32px;
        }
        @include media-breakpoint-between(md, xl) {
            font-size: 23px;
        }
        @include media-breakpoint-down(md) {
            font-size: 18px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70%;
            height: 2px;
            background-color: var(--palette-primary-dark);
            transition: 0.4s;
        }
    }
    &__card-desc {
        margin-top: 10px;
        font-weight: var(--typography-fontWeightLight);
        line-height: 26px;
        color: var(--palette-secondary-text);
        @include media-breakpoint-up(xl) {
            font-size: 22px;
        }
        @include media-breakpoint-between(md, xl) {
            font-size: 18px;
        }
        @include media-breakpoint-down(md) {
            font-size: 15px;
        }
    }
}
