html,
body {
    margin: 0 auto;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
