html,
body {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
