//Libs
@import "~modern-normalize/modern-normalize.css";
// Configuration
@import "variables";
//Base
@import "base/fonts";
@import "base/mixins";
@import "base/root";
// Layout & components
@import "reboot";
// Mixes
// Blocks
@import "blocks/socials";
@import "blocks/title";

//Sections
@import "sections/header/header";
@import "sections/header/burger.scss";
@import "sections/header/profile-dropdown.scss";
//Main page
@import "sections/main/main";
@import "sections/main/hero";
@import "sections/main/visiting";
@import "sections/main/explore";
@import "sections/main/journey";
@import "sections/main/gallery";
@import "sections/main/tickets/tickets";
@import "sections/main/tickets/form";
@import "sections/main/parallax";
@import "sections/main/contacts";
//User page
@import "sections/user";
//Admin page
@import "sections/admin";
@import "sections/footer";
//Login page
@import "sections/login";
//Register page
@import "sections/register";
